body {
  font-family: "Borel", cursive;
  font-family: "Nunito", sans-serif;
  font-family: "Roboto", sans-serif;
}
.weather-app {
  background-image: url("images/alessio-soggetti-PdGBci-4jR8-unsplash.jpg");
  background-position: center;
  background-size: cover;
  width: 50%;
  margin: 100px auto;
  padding: 40px 40px;
  border-radius: 10px;
  margin-bottom: 0%;
  border: 1px;
}

h1 {
  text-align: left;
  color: black;
  padding: 20px 0;
  margin-bottom: 0;
  margin-left: 5px;
  font-size: 27px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  font-size: 18px;
  text-align: left;
  opacity: 0.8;
  font-weight: normal;
  padding-left: 8px;
  text-transform: capitalize;
  color: black;
}
footer {
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
  color: rgba(39, 37, 37, 0.671);
}
.units {
  font-size: 15px;
  position: relative;
  top: -9px;
  left: -5px;
}
.sun-icon {
  font-size: 40px;
}
.sun-sm-icon {
  font-size: 20px;
}
.forecast {
  text-align: center;
  color: rgba(245, 245, 245, 0.863);
}
.searchbar {
  margin-bottom: 10px;
}
.weather-temperature img {
  margin: 0;
  padding: 0;
  position: relative;
  left: -10px;
}
#temperature {
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  color: black;
  position: relative;
  top: 10px;
  left: -5px;
}
#celsius-link {
  text-decoration: none;
}
#fahrenheit-link {
  text-decoration: none;
}
.weather-temperature .active {
  color: black;
  cursor: default;
}
#search-button {
  background-color: rgba(1, 35, 83, 0.897);
  border: 1px solid rgba(1, 35, 83, 0.897);
}
#current-location-button {
  border: 1px solid rgba(1, 35, 83, 0.897);
  color: rgba(1, 35, 83, 0.897);
}
.forecast-date {
  font-size: 15px;
}
.forecast-temp {
  font-size: 13px;
}
.forecast-temp-min {
  opacity: 0.7;
}
